.container {
    background-color: snow;
}

.my-page-body {
    background-image: url("Images/Backround-img.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: auto;
}

/*home-page, articles-page*/
.outlook-article-img {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 100%;
    border: 5px solid black;
}

/*home-page*/
.list-group {
    margin-bottom: 15px;
}

/*article-page*/
.writer-img > img {
    margin-top: 50px;
    width: 50%;
    border-radius: 50%;
    align-self: center;
}

/*article-page*/
.text-article {
    font-size: 120%;
    text-align: justify;
}

/*article-page*/
.article-img > img {
    width: 70%;
    margin-bottom: 20px;
}

/*home-page*/
.home-article-header {
    font-size: 120%;
    font-weight: bold;
}

/*home-page*/
.home-text-article {
    font-size: 90%;
}

/*articles-page*/
.text-articles {
    font-size: 90%;
}

/*articles-page*/
.articles-header {
    font-size: 110%;
    font-weight: bold;
}

/*header*/
.main-header {
    background-color: snow;
}

.main-header .main-title {
    width: 60%;
}

.main-footer .social-img {
    width: 30px;
    margin: 5px;
}

.main-footer .fw-bold {
    margin-top: 15px;
}

.hyper-link {
    text-decoration: none;
    color: black;
}

.hyper-link:hover {
    color: darkgray;
    transition: 0.2s;
}

.img-link:hover .outlook-article-img {
    border: 5px solid darkgray;
    transition: 0.2s;
}

.interactive-link:hover {
    cursor: pointer;
}

.article-annotation {
    color: lightgray;
}

/*padding*/
.spacer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-body{
    background-color: snow;
}

.modal-header{
    background-color: snow;
}

.modal-footer{
    background-color: snow;
}

.modal-dialog .small {
    visibility: hidden;
    position:  absolute;
}

.form-control small {
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
    color: red;
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
}

body {
    background-color: rgb(33, 37, 41);
}







